.env
coverage
docs
npm-debug.log
Dockerfile*
docker-compose*
.dockerignore
.git
.gitignore
README.md
LICENSE
.vscode
# Ignore copied node_modules since these will be overwrote as part of npm install
node_modules